.nav__bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    height: 90px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 25px;
    margin-bottom: 4px;
}
.nav__bar.dark
{
    background-color: #21222A;
    margin-bottom: 0;
}
.logo__image
{
    width: 60px;
}
.logo__text
{
    color: #00D8FF;
}
.nav__brand
{
    display: flex;
    align-items: center;
}
.toggle
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.toggle__light
{
    color: #2B283A
}
.nav__bar.dark .toggle__light
{
    color: #918E9B;
}
.nav__bar.dark .toggle__dark
{
    color: #FFFFFF;
}
.toggle__dark
{
    color: #D5D4D8;
}
.toggle__slider
{
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border: 1px solid black;
    box-sizing: content-box;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}
.nav__bar.dark .toggle__slider
{
    background-color: #FFF;
    border-color: #F5F5F5;
}
.toggle__slider__circle
{
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #FFF;
    left: 0;
    transition: left 0.2s ease;
}
.nav__bar.dark .toggle__slider__circle
{
    background-color: #000;
    left: 12px;
}
